<!DOCTYPE html>
<html lang="en">
<head>
    <title>Observer Practice</title>
</head>
<body>
    <main>
        <h1>Observer Practice</h1>
        <form action="/message" method="POST">
            <input type="text" name="message" />
            <input type="submit" value="Send Message" />
        </form>
    </main>
</body>
</html>
